@import './base/common';
@import './base/container.scss';

@import './layouts/header.scss';
@import './layouts/homepage.scss';
@import "./layouts/information.scss";
@import "./layouts/service.scss";
@import "./layouts/price.scss"