
    <form action="">
  <label for="name">
    <input id="name" type="text">
  </label>
  <label for="email">
    <input id="email"  type="text">
  </label>
  <label for="phone">
    <input id="phone"  type="text">
  </label>
  <textarea name="message" id="message" cols="30" rows="10"></textarea>
  </form>

  <div>
    <h3>
   Ми на зв'язку
    </h3>
    <ul>
      <li>
        <a href="tel:+380990425667"><svg><use></svg>
        +380990425667
        </a>
      </li>
      <li>
        <a href="mailto:eugenklawyer@gmail.com"><svg><use></svg>
        eugenklawyer@gmail.com  
        </a>
      </li>
    </ul>
</div>
