<main>
  <div class="container">
    <div class="homepage">
      <div class="worker">
      <ul class="set-images__ganna"> 
          <li class="img-box">
            <img
              src="./images/owners/Evgen.jpg"
              alt="Фото Євгена"
              class="card-img"
            />
          </li>

        <li class="img-box">
          <img class="img-cutaway" src="./images/cutaway/1.jpg" alt="" />
        </li>
        </ul>
     
      <div class="box__ganna">
        <p class="text-worker">
          &nbsp;&nbsp;&nbsp;&nbsp; Я, Нікітенко Євген Іванович, здійснюю адвокатську діяльність
            згідно із Законом України "Про адвокатуру та адвокатську
            діяльність" та відповідно до Правил адвокатської етики, являюсь
            практикуючим адвокатом. Маю шістнадцятирічну юридичну практику по
            кримінальних справах. З урахуванням вказаної багаторічної
            практики, досконало володію навичками роботи в галузі
            кримінального та кримінально-процесуального права, вмілого
            застосування адвокатської техніки, як на етапі досудового
            розслідування, так і в суді 
        </p>
      </div>
    </div>
      <ul class="list">
        <li class="item">
          <img src="./images/fun/1.jpg" alt="" class="item-img" />
          <div class="item-box">
            <p class="item-text">
              &nbsp;&nbsp;&nbsp;&nbsp;<span class="item-text__red">ЯКЩО</span> орган (посадові особи),
              уповноважені розглядати справи про адміністративні правопорушення,
              або особи, які мають право складати протокол про адміністративне
              правопорушення, намагаються незаконно притягнути Вас до
              адміністратиної відповідальності, я надам Вам юридичні послуги по
              здійсненню звернень в порядку, передбаченому діючим законодавством
              до органу або посадової особи, та буду захищати Вас в суді в
              порядку адміністративного судочинства.
            </p>
          </div>
        </li>
        <li class="item">
          <img src="./images/fun/2.jpg" alt="" class="item-img" />
          <div class="item-box">
            <p class="item-text">
              &nbsp;&nbsp;&nbsp;&nbsp; <span class="item-text__red">ЯКЩО </span> Ви являєтесь власником
              або арендарем земельної ділянки, здійснюєте або здійснили
              будівництво на земельній ділянці, яка Вам не належить, або
              належить Вам на праві користування, придбали об'єкт нерухомості на
              земельній ділянці, яка Вам не належить, або використовується на
              правах аренди, не виконуються умови договору оренди та порушуються
              Ваші цивільні права - я буду представляти Ваші інтереси як в
              уповноважених державних органах, так і в суді з метою урегулювання
              виниклого спору, узаконення об'єкта нерухомості, оформлення права
              власності на земельну ділянку.
            </p>
          </div>
        </li>
        <li class="item">
          <img src="./images/fun/3.jpg" alt="" class="item-img" />
          <div class="item-box">
            <p class="item-text">
              &nbsp;&nbsp;&nbsp;&nbsp;<span class="item-text__red">ЯКЩО</span> відносно Вас здійснюється
              досудове розслідування по кримінальному провадженню, порушуються
              Ваші права, я надам кваліфікований захист по кримінальному
              провадженню. Мій захист здійснюється на всіх стадіях криінального
              провадження: затриманні чи арешту, дізнанні, досудовому
              розслідуванні та в суді.
            </p>
          </div>
        </li>
        <li class="item">
          <img src="./images/fun/4.jpg" alt="" class="item-img" />
          <div class="item-box">
            <p class="item-text">
              &nbsp;&nbsp;&nbsp;&nbsp;<span class="item-text__red">ЯКЩО</span> було порушено Ваші
              житлові права (незаконне виселення з місця проживання, неприязнені
              стосунки із сусідами з приводу спільного використання житлової
              площі, використання прибудинкової території, житлових та
              нежитлових приміщень об'єднання співвласників будинку, розділу
              межі) я буду представляти Ваші інтереси як в уповноважених
              державних органах так і в суді.
            </p>
          </div>
        </li>
        <li class="item">
          <img src="./images/fun/5.jpg" alt="" class="item-img" />
          <div class="item-box">
            <p class="item-text">
              &nbsp;&nbsp;&nbsp;&nbsp;<span class="item-text__red">ЯКЩО</span> Вам кримінальним
              правопорушенням було спричинено фізичну, матеріальну або моральну
              шкоду, Ви маєте сатус потерпілого по кримінальному провадженню,
              Вас не визнають потерпілим, але вищезазначена шкода вам була
              спричинена, досудове розслідування кримінального провадження не
              здійснюється належним чином, Ваші права потерпілого порушуються -
              я буду здійснювати предстаництво вашіх інтересів як на стадії
              досудового розслідування так і в суді
            </p>
          </div>
        </li>
        <li class="item">
          <img src="./images/fun/6.jpg" alt="" class="item-img" />
          <div class="item-box">
            <p class="item-text">
              &nbsp;&nbsp;&nbsp;&nbsp;<span class="item-text__red">ЯКЩО</span> від податкової служби, а
              саме із контролюючого органу до Вас надійшли вимога, податкове
              повідомлення рішення про заборгованість зі сплати податку,
              повідомлення про перевірку - я буду представляти Ваші інтереси
              шляхом звернення до контролюючого органу та подання
              адміністративного позову
            </p>
          </div>
        </li>
        <li class="item">
          <img src="./images/fun/7.jpg" alt="" class="item-img" />
          <div class="item-box">
            <p class="item-text">
              &nbsp;&nbsp;&nbsp;&nbsp;<span class="item-text__red">ЯКЩО</span> дією чи бездіяльністю
              суб'єкта владних повноважень порушено Ваші права та законні інтереси
              (винесення суб'єктом владних повноважень незаконного рішення, яким
              було порушено Ваші права та законні інтереси, противоправна
              бездіяльність суб'єкта владних поноважень), я надаю юридичні послуги
              по здійсненню звернень в порядку, передбаченому діючим
              законодавством до органу або посадової особи, та буду здійснювати
              представництво ваших інтересів в суді в порядку адміністративного
              судочинства
          </div>
          
          </p>
        </li>
        <li class="item">
          <img src="./images/fun/8.jpg" alt="" class="item-img" />
          <div class="item-box">
            <p class="item-text">
              &nbsp;&nbsp;&nbsp;&nbsp;<span class="item-text__red">ЯКЩО</span> у Вас не склались сімейні
              відносини та урегулювання виниклого спору вимагає припинення шлюбних
              відносин, поділу майна подружжя, стягення аліментів, визначення
              питання батьківства та місця проживання дитини - я буду представляти
              Ваші інтереси як в органі опіки та піклування, перед державними
              органами, а також суб'єктами в статусі кредитора та в суді
            </p>
          </div>
         
        </li>
        <li class="item">
          <img src="./images/fun/9.jpg" alt="" class="item-img" />
          <div class="item-box">
            <p class="item-text">
              &nbsp;&nbsp;&nbsp;&nbsp; <span class="item-text__red">ЯКЩО</span> порушуються Ваші трудові
              права, я буду здійснювати представництво Ваших інтересів як в
              порядку звернення до керівництва за місцем роботи, так і із
              зверненням до суду в порядку цивільного або адміністративного
              судочинства.
            </p>
          </div>
          
        </li>
      </ul>
      <div class="worker">
      <ul class="set-images__ganna">
        <li class="img-box">
          <img src="./images/owners/Ganna.jpg" alt="" class="img-worker" />
        </li>

        <li class="img-box">
          <img src="./images/cutaway/2.jpg" alt="" class="img-cutaway" />
        </li>
      </ul>
        
        <div class="box__ganna">
          <p class="text-worker">
            &nbsp;&nbsp;&nbsp;&nbsp; Я, Паляниця Ганна Михайлівна, являюсь юристом з багаторічним
            практичним досвідом. Працювала на великих підприємствах на посаді
            юриста. Займалась правовим супроводом фінансово-господарської
            діяльності підприємства, претензійно-позовною роботою,
            представництвом інтересів підприємства в суді та в інших
            правоохоронних та державних органах, наданням консультацій з
            питаннь застосування діючого законодавства. В мої обов'язки
            входило складання позовних заяв, відзивів, заперечень в порядку
            цивільного, адміністративного та господарського судочинства,
            представництво інтересів підприємства в судах всіх інстанцій. Маю
            багаторічний досвід з правового супроводу фінансово-господарської
            діяльності установ, підприємств та організацій.
          </p>
      </div>
    </div>
    </div>
  </div>
</main>
