<div class="container">
<ul class="information-list">
  <li class="information-item">
    <div class="information-box__image"><img src="./images/fun/10_n.jpg" alt="" class="information-image" /></div>
    <div class="information-box">
      <p class="information-text">
        &nbsp;&nbsp;&nbsp;&nbsp;Конституцією України, законами України та іншими нормативними актами
        передбачено більш чим достатній обсяг можливостей реалізації Ваших прав,
        надійного захисту Ваших свобод та законних інтересів.
      </p>
      <p class="information-text">
        &nbsp;&nbsp;&nbsp;&nbsp;У разі, <span class="item-text__red">ЯКЩО</span> Ваші особисті права і свободи, законні
        інтереси не визнаються, оспорюються або порушуються,
        <span class="item-text__red">ЯКЩО</span> Ви потребуєте надійного захисту від спроб незаконного
        притягнення до цивільної, адміністративної та кримінальної
        відповідальності, <span class="item-text__red">ЯКЩО</span> ігноруються Ваші конституційні права
        та Ви бажаєте гідного до них ставлення - звертайтесь саме до нас в
        будь-який час. <span class="item-text__red">ЯКЩО</span> ви будете активно реалізовувати Ваші
        права та свободи, відстоювати Ваші законні інтереси -
        <span class="item-text__red">ПЕРЕМОГА</span> за Вами та ми Вам в цьому
        <span class="item-text__red">ДОПОМОЖЕМО</span> . 
        <p class="information-text">  &nbsp;&nbsp;&nbsp;&nbsp;У нас Ви маєте можливість отримати
            <span class="item-text__red">БЕЗОПЛАТНУ</span>
            <span class="item-text__red">кваліфіковану юридичну консультацію</span>  та ми надамо Вам необхідну правову
            допомогу.</p>
      </p>
    </div>
  </li>
  <li class="information-item">
    <div class="information-box__image"><img src="./images/fun/11_n.jpg" alt=""  class="information-image"/></div>
    <div class="information-box">
      <p class="information-text">Ми працюємо в юридичній сфері вже багато років, наша робота в першу чергу орієнтована на результат, а не на присутність. Ми знаємо як привести будь-яку справу до максимального успіху. Ми завжди пам'ятаємо, що за кожною справою постає доля людини та її судьба. </p>
      <p class="information-text"> <span class="item-text__red"> МАЮ ПРАВО</span> надає великий спектр юридичних послуг, якими Ви зможете скористатися у будь-який час.</p>
      <p class="information-text"><span class="item-text__red">МИ ЗАВЖДИ З ВАМИ !!!</span></p>
    </div>
  </li>
    <div class="information-quote"> 
      <div class="information-text__box">
        <p class="information-text__quote">"Велика справа законодавства полягає в тому, щоб створювати суспільне благо з найбільшої кількості приватних інтересів" (П. Буаст)</p> 
      </div>
        <div class="information-quote-box"><img src="./images/fun/12_n.jpg" alt="" class="information-quote__image"></div>
    </div>
 
</ul>
</div>