<div>
  <img src="./images/fun/16_n.jpg" alt="" />
</div>
<div>
  <p>
    Кожна кримінальна, адміністративна, цивільна та господарська справи, по яким
    ми здійснюємо захист або представництво інтересів клієнта у державних,
    правоохоронних органах та в суді, мають свої особливості та розглядаються
    індивідуально.
    <span
      >Мінімальна ціна на послуги, якщо було укладено договір з клієнтом,
      складає від 1000 грн.</span
    >
  </p>
  <p>
    Ви маєте можливість зв'язатись з нами по мобільному зв'язку, або у спосіб
    зазначений на сайті, із власноручним заповненням відповідної інформації.
  </p>
  <p>
    Здійснивши первинний правовий аналіз ситуації, викладеної Вами,
    <span
      >якщо ми будемо вважати, що Ви маєте можливість власними силами вирішити
      виниклі проблемні питання, ми Вам порадимо здійснити певні дії для
      вирішення ситуації. Така первинна юридична консультація для Вас буде
      БЕЗОПЛАТНОЮ.</span
    >
  </p>
  <p>
    Якщо, викладена Вами ситуація потребує кваліфікованої правової допомоги
    адвоката,
    <span
      >ми Вам запропонуємо укласти з нами договір про надання правової допомоги
      та представництво інтересів</span
    >
  </p>
  <p>
    Вартість надання юридичної допомоги залежить від складності та можливої
    тривалості справи, об'єму роботи, який необхідно буде виконати. Як правило,
    ми завжди йдемо на зустріч клієнтові при встановленні розміру гонорару. З
    урахуванням матеріального стану клієнта, можемо передбачити розстрочку
    виплати гонорару.
  </p>
  <p>
    <span
      >Наша компанія гарантує стовідсоткову прозорість у виплатах гонорару
      адвоката</span
    >. З метою дотримання прозорості та забезпечення впевненості клієнта, що він
    сплачує гонорар адвоката відповідно до об'єму наданих йому послуг правового
    характеру, додатковими угодами до договору про надання правової допомоги та
    представництво інтересів передбачається перелік послуг, які Вам будуть
    надаватись,
    <span
      >що буде супроводжуватись складанням та двостороннім підписанням акту
      виконаних нами робіт по зазначеному договору</span
    >.
  </p>
  <p>
    Ви будете приємно задоволені цінами на наші послуги та якістю та прозорістю
    наших послуг.
  </p>
  <p>ЧЕКАЄМО НА ВАС !!!</p>
</div>
