<div class="container">
  <ul class="service-list">
    <li class="service-list__item">
        <img src="./images/fun/13_n.jpg" alt="" class="service-list__img"/>
      <ul  class="service-text__list">
        <li class="service-text__item">
          <p class="service-list__text">
          Якщо Ви зв'язались з нами по телефону, або обрали інший спосіб
          зв'язку, ми надамо Вам
          <span class="item-text__red">БЕЗОПЛАТНУ ЮРИДИЧНУ КОНСУЛЬТАЦІЮ</span> та запропонуємо шляхи
          вирішення Ваших проблемних питань.
        </p>
        </li>
        <li class="service-text__item">
          <p class="service-list__text">
            Чекаємо на Ваші дзвінки, дзвоніть нам та ми
            <span class="item-text__red">ВАМ ДОПОМОЖЕМО</span>
          </p>
        </li>
        
      </ul>
    
      
    </li>
    <li class="service-list__item">
      <img src="./images/fun/14_n.jpg" alt="" class="service-list__img" />
      <ul class="service-text__list">
        <li class="service-text__item">
          <p class="service-list__text">
            Здійснюємо захист по кримінальних провадженнях як на стадії дізнання,
            досудового розслідування так і в судах усіх інстанцій, здійснюємо
            представництво свідка та потерпілого по кримінальних провадженнях.
          </p>
        </li>
        <li class="service-text__item">
          <p class="service-list__text">
            Здійснюємо представництво інтересів клієнта в державних,
            правоохоронних органах та у судах усіх інстанцій в порядку
            адміністративного, цивільного та господарського судочинства.
          </p>
        </li>
        <li class="service-text__item">
          <p class="service-list__text">
            Ми маємо величезний досвід в юридичній сфері, та
            <span>ми Вам допоможемо у будь-якій справі.</span>
          </p>
        </li>
        <li class="service-text__item"> 
          <p class="service-list__text"><span class="item-text__red">ВАШІ ПРОБЛЕМИ-НАШІ ПРОБЛЕМИ</span></p>
        </li>
   </ul>
    </li>
  </ul>
</div>
