.homepage {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.card-owner {
  display: flex;
  justify-content: center;
  width: 100%;
}
.card-img {
  width: 300px;
  height: 300px;
}

.card-box__evgen {
  padding: 15px;
  width: 300px;
}

.set-images__ganna {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.img-box:not(:last-child) {
  margin-right: 15px;
}

.img-worker {
  width: 250px;
  height: 300px;
}

.img-cutaway {
  width: 450px;
  height: 300px;
}

.card-text {
  line-height: 24px;
}

.text-worker {
  font-family: Quicksand;
  font-size: 20px;
  line-height: 24px;
}

.worker {
  padding-bottom: 15px;
  padding-top: 15px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  
}

.item {
  flex-basis: calc((100% - 30px) / 3);
  border: solid;
  border-color:yellow;
  padding:15px;
}

.item-img {
  width: 400px;
  height: 350px;
}
.item-box {
  padding: 15px;
  align-items: center;
  justify-content: center;
  
}

.item-text {
  font-family: Quicksand;
  font-size: 20px;
  line-height: 24px;
}

.item-text__red {
  font-family: Quicksand;
  font-size: 20px;
  line-height: 24px;
  color: red;
}
