.information-list{
    display: flex;
    flex-direction:column;
}

.information-box__image{
    margin-right:20px
}

.information-image{
    width:480px;
    height: 360px;
}

.information-quote__image{
    width:480px;
    height:360px;
}

.information-item{
    display:flex;

}

.information-item:not(:last-child){
    margin-bottom:15px;
}

.information-box{
   display: flex;
   flex-direction: column;
   justify-content: center;
    align-items: center;
}

.information-text{
    font-family: Raleway;
    font-size: 20px;
    line-height: 24px;
    font-weight:500;
}

.information-quote{
    background-image: url("../images/background/2.jpg");
    background-position: 50% 50%;
    background-size: cover;
    padding-top:100px;
}

.information-quote-box{
    display:flex;
    justify-content: center;
}

.information-text__box{
    display: flex;
    justify-content: center;
    margin-bottom:20px;
}

.information-text__quote{
    font-family: Raleway;
    font-size: 24px;
    line-height: 24px;
    color:white;
    font-weight:500;
}



.information-quote__image{
    height:360px;
    width:480px;
}